
			    @font-face {
		        font-family: "Work Sans";
		        src: url("fonts/Work Sans.ttf");
		    }
		 
			    @font-face {
		        font-family: "Cherry Bomb One";
		        src: url("fonts/Cherry Bomb One.ttf");
		    }
		 
			    @font-face {
		        font-family: "Hind";
		        src: url("fonts/Hind.ttf");
		    }
		 
			    @font-face {
		        font-family: "Kiwi Maru";
		        src: url("fonts/Kiwi Maru.ttf");
		    }
		 
			    @font-face {
		        font-family: "Feature Sans";
		        src: url("fonts/Feature Sans.ttf");
		    }
		 
			    @font-face {
		        font-family: "Source Code Pro";
		        src: url("fonts/Source Code Pro.ttf");
		    }
		 
			    @font-face {
		        font-family: "Vollkorn";
		        src: url("fonts/Vollkorn.ttf");
		    }
		 
			    @font-face {
		        font-family: "Grenze";
		        src: url("fonts/Grenze.ttf");
		    }
		 
			    @font-face {
		        font-family: "Noto Sans Khmer";
		        src: url("fonts/Noto Sans Khmer.ttf");
		    }
		 
			    @font-face {
		        font-family: "Aref Ruqaa";
		        src: url("fonts/Aref Ruqaa.ttf");
		    }
		 
			    @font-face {
		        font-family: "Noto Sans Syriac";
		        src: url("fonts/Noto Sans Syriac.ttf");
		    }
		 
			    @font-face {
		        font-family: "Shippori Mincho";
		        src: url("fonts/Shippori Mincho.ttf");
		    }
		 
			    @font-face {
		        font-family: "Reggae One";
		        src: url("fonts/Reggae One.ttf");
		    }
		 
			    @font-face {
		        font-family: "Allura";
		        src: url("fonts/Allura.ttf");
		    }
		 
			    @font-face {
		        font-family: "EB Garamond";
		        src: url("fonts/EB Garamond.ttf");
		    }
		 
			    @font-face {
		        font-family: "Baskervville";
		        src: url("fonts/Baskervville.ttf");
		    }
		 
			    @font-face {
		        font-family: "Recursive";
		        src: url("fonts/Recursive.ttf");
		    }
		 
			    @font-face {
		        font-family: "Kristi";
		        src: url("fonts/Kristi.ttf");
		    }
		 
			    @font-face {
		        font-family: "Noto Sans Devanagari";
		        src: url("fonts/Noto Sans Devanagari.ttf");
		    }
		 
			    @font-face {
		        font-family: "Alegreya";
		        src: url("fonts/Alegreya.ttf");
		    }
		 
			    @font-face {
		        font-family: "Cardo";
		        src: url("fonts/Cardo.ttf");
		    }
		 
			    @font-face {
		        font-family: "Zilla Slab";
		        src: url("fonts/Zilla Slab.ttf");
		    }
		 